.link-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: auto;

  &__item {
    margin-top: 9px;

    &:not(:last-child) {
      margin-right: 9px;
    }

    .link {
      @include text-big;
    }
  }

  &_mid-margin {

    .link-list {

      &__item {
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }

  &_big-margin {

    .link-list {

      &__item {
        &:not(:last-child) {
          margin-right: 28px;
        }
      }
    }
  }
}
