.header {
  width: 100%;

  &__col {
    font-size: 0;

    &_right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      box-sizing: border-box;
      margin-top: -4px;

      @include screen('phone-wide') {
        margin-top: 0;
      }
    }
  }

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    padding: 21px 0 11px;
  }

  &__navigation {
    border-top: 3px solid $color-border;
    box-sizing: border-box;
    padding-bottom: 9px;
    letter-spacing: -.02em;
  }

  .search {
    margin-top: 9px;
  }

  &__lk {
    display: none;
    padding: 4px 5px;
    width: 134px;
    margin-top: 4px;
  }

  &.is-authorized {

    .header {
      &__lk {
        display: inline-block;
      }

      &__top {

        .link-list {
          display: none;
        }
      }
    }
  }
}
