mixin header()
  +b.header&attributes(attributes)
    .container
      +e.top
        +e.col_left
          +logo(href="index.html")
        +e.col_right
          +button('a').__lk(href="lk.html") ЛИЧНЫЙ КАБИНЕТ
          +link-list
            +e.LI.item
              +link._ls.js-fancybox(href="#popup-login") ВХОД
            +e.LI.item
              +link._ls._gray.js-fancybox(href="#popup-registration") РЕГИСТРАЦИЯ
          +search
      +e.NAV.navigation
        +link-list._big-margin
          +e.LI.item
              +link._white(href="news.html") НОВОСТИ И СОБЫТИЯ
          +e.LI.item
              +link._white(href="catalog.html") УЧАСТНИКИ
          +e.LI.item
              +link._white(href="#") ФОРУМ
          +e.LI.item
              +link._white(href="about.html") ОБ АРКО
