.form {

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    @include screen('tablet') {
      flex-wrap: nowrap;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &_smg {
      &:not(:last-child) {
        margin-bottom: 9px;
      }

      .form__wrapper_small {
        margin-top: 9px;

        @include screen('tablet') {
          margin-top: 0;
        }
      }
    }

    &_bmg {
      &:not(:first-child) {
        margin-top: 42px;
      }
    }

    &_title {
      &:not(:last-child) {
        margin-bottom: 24px;
      }

      .popup__title {
        margin-bottom: 0;
      }
    }

    .button, .upload_button {
      width: 100%;

      @include screen('tablet') {
        min-width: 141px;
        width: auto;
      }
    }
  }

  &__wrapper {
    position: relative;
    display: inline-block;
    width: 100%;

    @include screen('tablet') {
      width: 226px;
    }

    &_wide {
      @include screen('tablet') {
        width: 448px;
      }
    }

    &_small {
      margin-top: 16px;

      @include screen('tablet') {
        width: 126px;
        margin: 0 9px;
      }
    }

    &.error {

      .input {
        border: 1px solid red;
      }

      .form__error {
        display: inline-block;
        opacity: 1;
      }
    }

    &_mhide {
      display: none;

      @include screen('tablet') {
        display: inline-block;
      }
    }
  }

  &__label {
    display: inline-block;
    width: 100%;
    text-align: left;
    @include text-big;
    line-height: 1.15;
    margin-bottom: 9px;

    @include screen('tablet') {
      max-width: 180px;
      text-align: right;
      position: absolute;
      top: 4px;
      right: calc(100% + 11px);
      margin-bottom: 0;
    }

    &_top {
      @include screen('tablet') {
        top: -4px;
      }
    }

    &_up {
      @include screen('tablet') {
        max-width: none;
        width: 100%;
        text-align: center;
        top: auto;
        bottom: calc(100% + 4px);
        left: 0;
        right: auto;
      }
    }

    &_dhide {
      @include screen('tablet') {
        display: none;
      }
    }
  }

  &__error {
    display: none;
    width: 100%;
    text-align: left;
    @include text-big;
    line-height: 1.15;
    color: red;
    margin-top: 4px;
  }

  &__text {
    display: inline-block;
    @include text-big;
    box-sizing: border-box;
    letter-spacing: -.02em;

    @include screen('tablet') {
      padding-top: 24px;
      max-width: 235px;
    }

    a {
      text-decoration: none;
      text-transform: none;
      color: $color-basic;
      border-bottom: 1px solid rgba($color-basic, .6);
    }
  }

  &_left {

    .form {

      &__row {
        box-sizing: border-box;

        @include screen('tablet') {
          padding-left: 224px;
          justify-content: flex-start;
        }
      }
    }
  }
}
