extends ../../layouts/noaside

block head
  - var pageTitle = 'АРКО - Карта сайта'

block content
  +e.content.sitemap
    .container
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
