.footer {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid $color-gray-2;
  padding: 6px 0 42px;
  margin-top: auto;

  @include screen('tablet-wide') {
    padding-bottom: 97px;
  }

  .container {
    text-align: right;
  }

  .link-list {

    &__item {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
      }

      .link {
        @include heading-3;
        font-weight: 700;
        line-height: 1;
        letter-spacing: .075em;
        text-align: right;

        &_small {
          @include text-bigger;
          font-weight: 700;
          line-height: 1;
          letter-spacing: .075em;
          text-transform: lowercase;
        }
      }
    }
  }

  &_noborder {
    border-top-width: 0;
  }
}
