mixin footer(noborder)
  -var addClass = (noborder) ? '' : '_noborder'
  +b(class="footer" + addClass)&attributes(attributes)
    .container
      +link(href="tel:88009696523").__phone 8&nbsp;800&nbsp;969-65-23
