.link {
  $b: &;
  @include link;

  &_icon {
    position: relative;
    padding-left: 25px;
  }

  &__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }

  &.is-disabled {
    pointer-events: none;
    fill: $color-border;
    @include link-disabled;
  }

  &_white {
    @include link-white;
  }

  &_yellow {
    @include link-yellow;
  }

  &_gray {
    @include link-gray;
  }

  &_gray2 {
    @include link-gray2;
  }

  &_ls {
    letter-spacing: .05em;
  }

  &_ls-big {
    letter-spacing: .096em;
  }

  &_noup {
    @include link-noup;
  }

  &_bordered {
    @include link-bordered;
  }
}
