.gallery {

  &:not(:last-child) {
    margin-bottom: 34px;
  }

  &__title {
    @include text-big;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 9px;
    border-bottom: 3px solid $color-border;
    margin-bottom: 30px;
  }

  &__media {
    padding-top: 42.3%;
  }

  &__describe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__name {
    margin-top: 4px;
    @include text-bigger;
    box-sizing: border-box;
    padding-right: 20px;
    width: 50%;
  }

  &__edit {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;

    .link-list__item {
      margin-top: 4px;

      &:not(:last-child) {
        margin-right: 0;
      }

      &:not(:first-child) {
        margin-left: 4px;
      }
    }

    .link {
      text-transform: none;
    }
  }
}
