.gallery {

  &:not(:last-child) {
    margin-bottom: 34px;
  }

  &__title {
    @include text-big;
    text-transform: uppercase;
    line-height: 1;
    padding-bottom: 9px;
    border-bottom: 3px solid $color-border;
    margin-bottom: 30px;
  }

  &__item {
    padding-top: 42.3%;
  }
}
