.button {
  display: inline-block;
  padding: 7px 29px;
  vertical-align: middle;
  box-sizing: border-box;
  color: $color-background;
  background-color: $color-yellow-2;
  transition: opacity $ease-main;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;

  @include text-big;
  letter-spacing: .02em;
  line-height: 1;

  &:disabled,
  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }

  &:hover,
  &.is-active { opacity: .5; }

  &_gray {
    background-color: $color-gray-4;
  }
}
