mixin filter()
  +link-list.filter&attributes(attributes)
      +e.item
        +link._gray2(href="#") А
      +e.item
        +link._gray2(href="#") Б
      +e.item
        +link._gray2(href="#") В
      +e.item
        +link._gray2(href="#") Г
      +e.item
        +link._gray2(href="#") Д
      +e.item
        +link._gray2(href="#") Е
      +e.item
        +link._gray2(href="#") Ё
      +e.item
        +link._gray2(href="#") Ж
      +e.item
        +link._gray2(href="#") З
      +e.item
        +link._gray2(href="#") И
      +e.item
        +link._gray2(href="#") К
      +e.item
        +link._gray2(href="#") Л
      +e.item
        +link._gray2(href="#") М
      +e.item
        +link._gray2(href="#") Н
      +e.item
        +link._gray2(href="#") О
      +e.item
        +link._gray2(href="#") П
      +e.item
        +link._gray2(href="#") Р
      +e.item
        +link._gray2(href="#") С
      +e.item
        +link._gray2(href="#") Т
      +e.item
        +link._gray2(href="#") У
      +e.item
        +link._gray2(href="#") Ф
      +e.item
        +link._gray2(href="#") Х
      +e.item
        +link._gray2(href="#") Ц
      +e.item
        +link._gray2(href="#") Ч
      +e.item
        +link._gray2(href="#") Ш
      +e.item
        +link._gray2(href="#") Щ
      +e.item
        +link._gray2(href="#") Э
      +e.item
        +link._gray2(href="#") Ю
      +e.item
        +link._gray2(href="#") Я
      +e.item.active
        +link._gray2(href="#") А-Я

mixin filter-pagination()
  +link-list.filter_pagination&attributes(attributes)
      +e.item.active
        +link._gray2(href="#") 1
      +e.item
        +link._gray2(href="#") 2
      +e.item
        +link._gray2(href="#") 3
      +e.item
        +link._gray2(href="#") 4
      +e.item
        +link._gray2(href="#") 5
      +e.item
        +link._gray2(href="#") 6

