mixin popups()
  +b.popups&attributes(attributes)
    block

mixin popup()
  +b.popup&attributes(attributes)
    +e.wrapper
      block

mixin popup-title()
  .popup__title&attributes(attributes)
    block
