@import '../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css';

.popups {
  display: none;
}

.popup {
  position: relative;
  background-color: rgba($color-background, .85);
  width: 100%;
  box-sizing: border-box;
  padding: 20px 25px;

  @include screen('tablet') {
    max-width: 687px;
  }

  &::before, &::after {
    @include pseudo;
    width: 47px;
    height: 26px;
    background: url('../images/corner.svg') 50% 50% no-repeat;
    background-size: 47px 26px;
  }

  &::before {
    top: 12px;
    left: 17px;
  }

  &::after {
    top: 12px;
    right: 17px;
    transform: rotateY(180deg);
  }

  .form {
    position: relative;
    z-index: 100010;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    padding: 12px 10px 32px;
    box-sizing: border-box;

    @include screen('tablet') {
      padding-left: 0;
      padding-right: 0;
    }

    &::before, &::after {
      @include pseudo;
      width: 47px;
      height: 26px;
      background: url('../images/corner.svg') 50% 50% no-repeat;
      background-size: 47px 26px;
    }

    &::before {
      bottom: 12px;
      left: 17px;
      transform: rotateX(180deg);
    }

    &::after {
      bottom: 12px;
      right: 17px;
      transform: rotate(180deg);
    }
  }

  &__title {
    @include text-big;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
}

.fancybox-bg {
  background: rgba($color-dark-gray, .2);
}

.fancybox-close-small {
  width: 32px;
  height: 32px;
  top: -8px;
  right: -8px;
  padding: 0;
  color: $color-basic;

  @include screen('tablet-wide') {
    display: none;
  }
}

.fancybox-close-small:focus::after { outline: none; }

.fancybox-enabled { overflow: initial; }
