@mixin link {
  color: $color-main;
  border: 0;
  transition: fill $ease-main, color $ease-main, opacity $ease-main, border-color $ease-main;
  fill: $color-main;
  text-transform: uppercase;

  &__text {
    border-color: inherit;
  }

  &:hover { opacity: .8; }
}

@mixin link-disabled {
  color: $color-border;
  border-color: transparent;
}

@mixin link-white {
  color: $color-basic;
  fill: $color-basic;
}

@mixin link-yellow {
  color: $color-yellow;
  fill: $color-yellow;
}

@mixin link-gray {
  color: $color-gray;
  fill: $color-gray;
}

@mixin link-gray2 {
  color: $color-gray-3;
  fill: $color-gray-3;
}

@mixin link-bordered {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@mixin link-noup {
  text-transform: none;
}
