// Здесь используем комментарии только через "//", т.к. они нам не нужны в итоговом css-файле

// ##########
// Базовые настройки сетки сайта
// ##########
$container-width: 1014px; // Максимальная ширина контейнера контента
$container-padding: 20px; // Отступы слева и справа у контейнера
$grid-container-width: 100%; // Ширина контейнера сетки
$grid-cols: 12; // Количество колонок в сетке
$grid-gap: 48px; // Расстояние между колонками
$grid-gap-vertical: 30px; // Расстояние между строками в сетке
$grid-col-width: $grid-container-width/$grid-cols; // Ширина одной колонки
$breakpoints: (
  'xl': 1920px,
  'lg': 1280px,
  'md': 1024px,
  'sm': 768px,
  'xs': 480px
);

// ##########
// Цвета
// ##########
$color-basic: white; // Основной цвет текста (применяется к body)
$color-background: black; // Основной цвет фона
$color-placeholder: $color-basic; // Основной цвет для placeholder
$color-input: $color-basic; // Основной цвет input, select и textarea
$color-main: #eab90d; // Основной фирменный цвет
$color-border: #3f3d3d; // Основной цвет границ таблиц, секций
$color-dark-gray: #0d0c0c; //news
$color-gray: #878785;
$color-gray-2: #7f8183;
$color-yellow: #e0b10c;
$color-yellow-2: #ffb931;
$color-middle-gray: #2f2f2f; //search
$color-light-gray: #ededed;
$color-ligh-gray-2: #cac9c9;
$color-ligh-gray-3: #a7a7a7;
$color-gray-3: #666666;

// ##########
// Transitions
// ##########
$ease-main: .3s ease;

// ##########
// Шрифты
// ##########
$font-main: 'PT Sans', 'Arial', sans-serif; // Основной шрифт сайта
