mixin popup-registration()
  +popup.popup-registration&attributes(attributes)
    +form._left#form-registration
      +e.row_title
        +popup-title РЕГИСТРАЦИЯ ПОЛЬЗОВАТЕЛЯ
      +e.row
        +e.LABEL.wrapper
          +e.label e-mail:
          +input.form__input(type="text" name="email" required data-type="email")
          +e.error
      +e.row
        +e.LABEL.wrapper
          +e.label пароль:
          +input.form__input(type="password" name="password" required)
          +e.error
      +e.row
        +e.LABEL.wrapper
          +e.label имя и фамилия:
          +input.form__input(type="text" name="name" required)
          +e.error
      +e.row
        +e.LABEL.wrapper
          +e.label телефон:
          +input.form__input(type="tel" name="phone" required data-type="tel")
          +e.error
      +e.row
        +e.text Нажимая кнопку «Отправить», я принимаю
          +e.A(href="agreement.html" target="_blank") пользовательское соглашение
      +e.row_button
        +button('button').js-verify(type="submit") ОТПРАВИТЬ
