include _externalIncludes
include _internalIncludes

doctype html
html(lang='ru')
  include head
  - var noborder = true
  - var headerClass = ' '
  body
    block header
    +header(class=headerClass)
    +page
      .container
        block content
        +e.ASIDE.aside
          .js-scrollbar
            +short-news('01 Марта 2018')(href="article.html") Заур Болотаев номинирован на премию ОСКАР Американской Киноакадемии.
            +short-news('30 Февраля 2018')(href="article.html") Александр Симонов будет снимать новый фильм Кончаловского на пятьсот мобильных телефонов Nokia.
            +short-news('1 Января 2018')(href="article.html") Кинематографисты Москвы отпраздновали наступление Нового года сожжением киностудии имени Горького.
            +short-news('30 декабря 2017')(href="article.html") Организаторы 71-го международного Каннского кинофестиваля анонсировали два важных нововведения. Во-первых, звездам отныне запрещено делать селфи во&nbsp;время прохода по&nbsp;всевозможным &laquo;красным дорожкам&raquo;, а, во-вторых, отменены специальные показы фильмов для прессы, которые проходили раньше официальных премьер.
    block footer
    +footer(noborder)
    +popups
      +popup-login#popup-login
      +popup-registration#popup-registration
      block popups
    script(src='assets/scripts/libs/selectize.min.js')
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
