include _externalIncludes
include _internalIncludes

doctype html
html(lang='ru')
  include head
  body
    +header
    +page._noaside
      .container
        block content
    +popups
      +popup-login#popup-login
      +popup-registration#popup-registration
      block popups
    // https://selectize.github.io/selectize.js/
    script(src='assets/scripts/libs/selectize.min.js')
    script(src='assets/scripts/app.min.js')
    script(src='assets/scripts/main.js')
