.media {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 43%;
  overflow: hidden;
  box-sizing: border-box;

  &:hover {
    .media__image {
      transform: scale(1.1);
    }
  }

  &__image {
    @include fill-img;
    transition: all $ease-main;
    transform: scale(1);
  }

  &[data-video] {

    &::before {
      @include pseudo;
      @include triangle($color-gray, right, 30px);
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      z-index: 2;
      opacity: 0;
      transition: all $ease-main;
    }

    &:hover::before {
      opacity: 1;
    }
  }
}
